.navbar-item img {
    max-height: 3.5rem;
}
a.navbar-item{
    transition: ease;
    transition-duration: 1000ms;
    
    
    &:hover{
        color:#eb1f28

    }
}
h1, h2, h3{
    color:#eb1f28
}

.button.is-link {
    background-color: #eb1f28;
    border-color: transparent;
    color: #fff;
}

.bg-overlay{
    background: linear-gradient(135deg,rgba(30,33,33,.82) 1%,rgba(32,32,32,.14) 98%);
}